#heroBanner{
  height: 90vh;
  width: 100%;
  background-image: url('../../components/assets/img/h.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
}
#heroBanner::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.39);
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
#navbar > li> a{
  color: #248BD6 !important;
  
  

}

#navbar > li> a:hover{
  color: #A2D5F2 !important;

}
















/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --hover: #ff8b33;
  --formtext: #757575;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
*{
  font-family: 'Dosis', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
  }
  
  .header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
  }
  
  .header .logo .paw{
    color: var(--main);
  }
  
  .header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
  }
  
  .header .navbar a:hover{
    color: var(--main);
  }
  
  .header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
  }
  
  .header .icons div:hover{
    color: var(--main);
  }
  
  #menu-btn{
    display: none;
  }
  
  .adminhome{
    min-height: 85vh;
    display: flex;
    align-items: center;
    background: url(../../components/assets/img/h.jpg) no-repeat;
    background-size: cover;
    background-position: top;
  }
  
  .adminhome .content{
    max-width: 60rem;
  }
  
  .adminhome .content h3{
    color: var(--black);
    font-size: 6rem;
    line-height: 1.4;
    font-weight: 400;
  }
  
  .adminhome .wave{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 12rem;
  }

  @media(max-width: 991px){
    html{
      font-size: 55%;
    }
    .header{
      padding: 2rem;
    }
    section{
      padding: 8rem 2rem;
    }
  }
  
  @media (max-width: 768px){
  
    #menu-btn{
      display: inline-block;
    }
  
    .header .navbar{
      position: absolute;
      top: 99%;
      left: 0; right: 0;
      background: var(--white);
      border-top: .1rem solid var(--main);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .header .navbar a{
      display: block;
      margin: 2rem;
      font-size: 2rem;
    }
  
    .adminhome{
      background-position: left;
    }
  
    .adminhome .content h3{
      font-size: 5rem;
    }
  
    .deco-title{
      display: none;
    }
  
  }
  
  @media (max-width: 450px){
    html{
      font-size: 50%;
    }
  
    .adminhome .content h3{
      font-size: 4rem;
    }
  
  } */
