@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --hover: #ff8b33;
  --formtext: #757575;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.data{
    background: #A2D5F2 ;
  }
  .content{
    text-align: center;
    margin-bottom: 3rem;
  }

  .data .content h3{
    color: var(--black);
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    .data .content h3 {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .data .content h3 {
      font-size: 2rem;
    }
  }