.users{
    background: #A2D5F2 ;
  }
  .content{
    text-align: center;
    margin-bottom: 3rem;
  }

  .users .content h3{
    color: var(--black);
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    .data .content h3 {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .data .content h3 {
      font-size: 2rem;
    }
  }